<!DOCTYPE html>
<html>
    <head>
        {layout name="public/layout" /}
    </head>
    <body>
        <div class="page-content">
            <div class="Role_Manager_style">
                <div class="Manager_style">
                    <div class="title_name">菜单列表</div>
                    <a href="javascript:location.reload();" class="flash" title="刷新"></a>
                    <button  type="button" class="btn btn-primary btn-redirect" name="{:url('wechat/article')}">微信文章列表</button>
                    <button  type="button" class="btn btn-primary btn-redirect btn-current" name="{:url('wechat/articleModify')}">添加微信文章</button>
                </div>
                <div class="Manager_style">
                    <div class="title_name">{$model['id']|tag_show=['添加','编辑']}微信文章</div>
                    <div class="Role_list">
                        <form name="myform" action="{:url('wechat/articleUpdate')}" method="post">
                            <table id="Role_list1" cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-hover table-m">
                                <tbody>

                                    <tr>
                                        <th width="20%">文章标题</th>
                                        <td width="80%"><input type="text" style="width:300px" name="title" value="{$model['title']}"/>
                                            <br />
                                            <span class="ps">文章标题不能为空</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th width="20%">封面图</th>
                                        <td width="80%">
                                            <div class="y-onlinemanage">
                                                <div class="y-file-list">
                                                    <ul class="clearfix">
                                                        <ul class="s-file-list" id="picture">
                                                            {if !empty($model['picture'])}
                                                                <li class="file">
                                                                    <div class="file-panel">
                                                                        <span class="cancel">删除</span>
                                                                    </div>
                                                                    <div class="img">
                                                                        <img src="{$model['picture']}" alt="">
                                                                    </div>
                                                                    <input type="hidden" name="picture" value="{$model['picture']}" />
                                                                </li>
                                                            {/if}
                                                        </ul>
                                                        <li class="file y-addpho js-uploadBox" onclick="webuploader(1,'picture','wechat','');">
                                                            <div class="adp">
                                                                <h1>+</h1>
                                                                <p>上传图片</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <br />
                                            <span class="ps" >图片建议大小805*95</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th width="20%">文章简介</th>
                                        <td width="80%"><textarea style="width:80%; height:100px;" name="description">{$model['description']}</textarea><br><span class="ps"></span></td>
                                    </tr>

                                    <tr>
                                        <th width="20%">详细内容</th>
                                        <td width="80%"><script id="detail" name="detail" type="text/plain" style="width:90%;height:300px;margin-left: 10px;">{$model['detail']}</script><script type="text/javascript">UE.getEditor("detail");</script><br/><span class="ps">详细内容不能为空</span></td>
                                    </tr>

                                    <tr>
                                        <th width="20%">排序</th>
                                        <td width="80%">
                                            <input type="text" name="order_id" value="{if empty($model['order_id'])}1000{else}{$model['order_id']}{/if}" style="width:56px;text-align: center;">
                                            <br />
                                            <span class="ps">排序字段为1-999999之间的数字</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="btn_operating">
                                <input type="hidden" name="id" value="{$model['id']}"/>
                                <input  type="submit" class="btn btn-primary btn-submit"/>
                                <input  type="reset" class="btn btn-warning"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>