<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>后台管理系统登录</title>
		<meta name="keywords" content="后台登录">
		<meta name="description" content="后台登录">
		<meta name="author" content="sujianbin,sujianbin891547860@163.com">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
		<link rel="stylesheet" type="text/css" href="__PLUGIN__/webuploader/css/phoselect.css">
		<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
		<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
		<script type="text/javascript" src="__PLUGIN__/layer/layer.js"></script>
		<script type="text/javascript" src="__PLUGIN__/My97DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="__PLUGIN__/highcharts/highcharts.js"></script>
		<script type="text/javascript" src="__PLUGIN__/highcharts/exporting.js"></script>
		<script type="text/javascript" charset="utf-8" src="__PLUGIN__/UEditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="__PLUGIN__/UEditor/ueditor.all.js"></script>
		<script type="text/javascript" charset="utf-8" src="__PLUGIN__/UEditor/lang/zh-cn/zh-cn.js"></script>
		{include file="public/common_js" /}
	</head>
	<body>
		
	</body>
</html>
